$color1: #f6f5f5;
$color2: #145374;
$color3: #00334e;
$color4: #ee6f57;

html, body {
  font-size: 1em;
  font-family: sans-serif;
}

@mixin button {
  background: $color2;
  border-radius: .2em;
  color: $color1;
  cursor: pointer;
  display: block;
  font-size: 100%;
  font-weight: bold;
  padding: .75em;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background, box-shadow;
  transition: all .2s ease;

  &:hover, &:active {
    background: $color3;
    color: $color1;
    box-shadow: 0px 7px 20px 5px rgba($color2, .3),
                0px 7px 2px -5px rgba($color3, .2);
  }
}

main {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  row-gap: 1em;
}

p.alert {
  display: none;

  &.alert-danger {
    display: block;
    text-align: center;
    padding: 1em;
    border-radius: 3px;
    background: $color4;
    color: $color1;
    font-weight: bold;
    text-transform: uppercase;
  }
}


nav {
  ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;
    justify-content: center;

    li {
      a {
        @include button;
      }
    }
  }
}

form {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  row-gap: 1.5em;

  label {
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    row-gap: 1em;

  }

  input, button {
    display: block;
  }
}

input, button {
  appearance: none;
  padding: .75em;
}

button {
  @include button;
}

button, button:hover, button:active {
  border: none;
}


h3 {
  text-align: center;
  text-transform: uppercase;
}

.todo {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.no-todos {
  text-align: center;
}
