{{#if this.error}}
<p class='error'>
  {{error}}
</p>
{{/if}}
<form class='login' {{action 'login' on='submit'}}>
  <label>
    Login
    {{input type='text' required=true value=this.name}}
  </label>
  <label>
    Password
    {{input type='password' required=true value=this.password}}
  </label>
  <button type='submit'>
    Login
  </button>
</form>