{{#if this.error}}
<p class='error'>
  {{this.error}}
</p>
{{/if}}
<form class='register' {{action 'register' on='submit'}}>
  <label>
    Username
    {{input type='text' required=true value=this.name}}
  </label>
  <label>
    Password
    {{input type='password' required=true value=this.password}}
  </label>
  <button type='submit'>
    Register
  </button>
</form>