main {
  padding: 1em;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  row-gap: 1em;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
