<h3>Todos</h3>
<%= for todo <- @todos do %>
  <div class="todo">
    <%= todo.title %>
    <%= button("Delete", to: Routes.todo_path(@conn, :delete, todo), method: :delete) %>
  </div>
<% end %>
<%= if Enum.count(@todos) === 0 do %>
  <div class="no-todos">You don't have any todos.</div>
<% end %>
<%= form_for @changeset, Routes.todo_path(@conn, :create), fn f -> %>
  <%= text_input(f, :title, placeholder: "New todo", autofocus: true) %>
  <%= submit "Create" %>
<% end %>
