<div>
  <%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
    <label>Name: <%= text_input f, :name %></label>
    <label>Password: <%= password_input f, :password %></label>
    <%= submit "Register" %>
  <% end %>
</div>